# docker compose
# WEB_ENV: dev|prod
WEB_ENV=dev
ARG_PYTHON_VERSION=3.10
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=example
POSTGRES_DB=naturedb
WEB_HOST=my-domain.org
