<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>PLB租借平台::戶外安全推廣協會</title>
		{#<link rel="icon" href="img/favicon.ico">#}
		<!-- CSS FILES -->
                <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.min.css')}} " />
		<style>
			.uk-container-small {
				max-width: 1020px;
			}
		</style>
                {% block style %}{% endblock %}
	</head>
	<body>
		<!--HEADER-->
		<header class="uk-box-shadow-small" style="background-color: white">
			<div class="uk-container uk-container-expand">
				<nav class="uk-navbar" id="navbar" data-uk-navbar>
					<div class="uk-navbar-left">
						<a class="uk-navbar-item uk-logo" href="{{ url_for('main.landing' )}}"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" style="width:60px;height:60px"></a>
					</div>

					<div class="uk-navbar-right">
						<ul class="uk-navbar-nav uk-visible@m">
							<li{% if request.path == "/" %} class="uk-active"{% endif %}><a href="{{ url_for('main.landing') }}">關於留守平台</a></li>
							<li{% if 'calendar' in request.path %} class="uk-active"{% endif %}><a href="{{ url_for('main.calendar_view') }}">租借服務</a></li>
							{#<li><a href="#">Our Products</a></li>
							<li><a href="#">Contact Us</a></li>#}
						</ul>
						<div class="uk-navbar-item">
							<a class="uk-navbar-toggle uk-hidden@m" data-uk-toggle data-uk-navbar-toggle-icon href="#offcanvas-nav"></a>
							<a href="#" class="uk-button uk-button-secondary uk-visible@m"><span data-uk-icon="sign-in"></span>登入</a>
						</div>
					</div>
				</nav>
			</div>
		</header>
		<!--/HEADER-->
                {% block main %}{% endblock %}
		<!--FOOTER-->
		<footer class="uk-section-secondary">
                  {#
			<div class="uk-container uk-section">
				<div class="uk-grid uk-child-width-1-3@l" data-uk-grid>
					<div>
						<h4>Our Company</h4>
						<ul class="uk-list uk-list-bullet">
							<li><a href="#" title="Laboris nisi ut aliquip">Laboris nisi ut aliquip</a></li>
							<li><a href="#" title="Excepteur sint occaecat">Excepteur sint occaecat</a></li>
							<li><a href="#" title="Culpa qui officia">Culpa qui officia</a></li>
							<li><a href="#" title="Duis aute irure dolor">Duis aute irure dolor</a></li>
							<li><a href="#" title="Consectetur adipisicing">Consectetur adipisicing</a></li>
						</ul>
					</div>
					
					<div>
						<h4>Our Offices</h4>
						<ul class="uk-list uk-list-bullet">
							<li><a href="#" title="Laboris nisi ut aliquip">Laboris nisi ut aliquip</a></li>
							<li><a href="#" title="Excepteur sint occaecat">Excepteur sint occaecat</a></li>
							<li><a href="#" title="Culpa qui officia">Culpa qui officia</a></li>
							<li><a href="#" title="Duis aute irure dolor">Duis aute irure dolor</a></li>
							<li><a href="#" title="Consectetur adipisicing">Consectetur adipisicing</a></li>
						</ul>
					</div>
					<div>
						<h4>Subscribe</h4>
						<form class="uk-grid uk-grid-collapse" action="price.html" data-uk-grid>
							<div class="uk-width-expand">
								<input class="uk-input" type="email" required name="email" placeholder="Your E-mail">
							</div>
							<div class="uk-width-auto">
								<button class="uk-button uk-button-primary" data-uk-icon="check"></button>
							</div>
						</form>
						<h4>Social Media</h4>
						<a href="" class="uk-icon-button  uk-margin-small-right" data-uk-icon="facebook"></a>
						<a href="" class="uk-icon-button  uk-margin-small-right" data-uk-icon="twitter"></a>
						<a href="" class="uk-icon-button" data-uk-icon="instagram"></a>
					</div>
				</div>
			</div>
                        #}
			<div class="uk-section uk-section-xsmall" style="background-color: rgba(0,0,0,0.15)">
				<div class="uk-container">
					<div class="uk-grid uk-child-width-1-2@s uk-text-center uk-text-left@s" data-uk-grid>
						<div class="uk-text-small uk-text-muted">
							Copyright 2023 - All rights reserved.
						</div>
						<div class="uk-text-small uk-text-muted uk-text-center uk-text-right@s">
							<a href="https://github.com/zzseba78/Kick-Off">Created by KickOff</a> | Built with <a href="http://getuikit.com" title="Visit UIkit 3 site" target="_blank" data-uk-tooltip><span data-uk-icon="uikit"></span></a>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!--/FOOTER-->
		
		
		<!-- OFFCANVAS -->
		<div id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: true">
			<div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
				<button class="uk-offcanvas-close uk-close uk-icon" type="button" data-uk-close></button>
				<ul class="uk-nav uk-nav-default">
					<li class="uk-active"><a href="#">Active</a></li>
					<li class="uk-parent">
						<a href="#">Parent</a>
						<ul class="uk-nav-sub">
							<li><a href="#">Sub item</a></li>
							<li><a href="#">Sub item</a></li>
						</ul>
					</li>
					<li class="uk-nav-header">Header</li>
					<li><a href="#js-options"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: table"></span> Item</a></li>
					<li><a href="#"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: thumbnails"></span> Item</a></li>
					<li class="uk-nav-divider"></li>
					<li><a href="#"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: trash"></span> Item</a></li>
				</ul>
				<h3>Title</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
		</div>
		<!-- /OFFCANVAS -->

		<!-- JS FILES -->
                <script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
                <script src="{{ url_for('static', filename='js/uikit-icons.min.js') }}"></script>
                {% block script %}{% endblock %}
	</body>
</html>
