{% extends "base.html" %}

{% block style %}
{#<link rel="stylesheet" href="{{ url_for('static', filename='css/calendar.css')}} " />#}
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/easepick.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/') }}"></script>
<script>
      const DateTime = easepick.DateTime;
      const bookedDates = [
          '2023-02-02',
          ['2023-02-06', '2023-01-11'],
          '2023-02-18',
          '2023-02-20',
          '2023-02-25',
      ].map(d => {
          if (d instanceof Array) {
            const start = new DateTime(d[0], 'YYYY-MM-DD');
            const end = new DateTime(d[1], 'YYYY-MM-DD');

            return [start, end];
          }

          return new DateTime(d, 'YYYY-MM-DD');
      });
      const picker = new easepick.create({
        element: document.getElementById('datepicker'),
        calendars: 2,
        grid: 2,
        inline: true,
        css: [
          "{{ url_for('static', filename="css/easepick.css") }}",
          "{{ url_for('static', filename="css/demo_hotelcal.css") }}",
        ],
        plugins: ['RangePlugin', 'LockPlugin'],
        RangePlugin: {
          tooltipNumber(num) {
            return num - 1;
          },
          locale: {
            one: '天',
            other: '天',
          },
        },
        LockPlugin: {
          minDate: new Date(),
          minDays: 2,
          inseparable: true,
          filter(date, picked) {
            if (picked.length === 1) {
              const incl = date.isBefore(picked[0]) ? '[)' : '(]';
              return !picked[0].isSame(date, 'day') && date.inArray(bookedDates, incl);
            }

            return date.inArray(bookedDates, '[)');
          },
        }
      });
</script>
{% endblock %}

{% block main %}
<div class="uk-container uk-container-small">
  <h2>租借狀態</h2>
  <form class="uk-form-stacked" method="POST" action={{ url_for('main.lend_view')}}>
      <div class="uk-margin">
      <label class="uk-form-label" for="datepicker">選擇日期區間</label>
      <div class="uk-form-controls">
        <input id="datepicker" class="uk-input uk-form-width-large uk-form-large" type="text" placeholder="choose..." name="pickdate" />
      </div>
    </div>
    <button class="uk-button uk-button-primary" type="submit">預約</button>
  </form>
  {#
  <table class="uk-table">
    <caption>{{ year }} 年 {{ month }} 月</caption>
    <thead>
      <tr>
        <th>週一</th>
        <th>週二</th>
        <th>週三</th>
        <th>週四</th>
        <th>週五</th>
        <th>週六</th>
        <th>週日</th>
      </tr>
    </thead>
    <tbody>
      {% for week_list in cal_list %}
      <tr>
        {% for d in week_list %}
        <td class="{% if d>5 and d<7 %}day-full{% else %}{% endif %}">{% if d != 0 %}{{ d }}{% endif %}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  #}
</div>

{% endblock %}
