{% extends "base.html" %}

{% block main %}
		<section class="uk-section uk-section-muted">
			<div class="uk-container uk-container-small">
				<header class="uk-text-center">
					<h1 class="uk-heading-primary">PLB租借平台</h1>
					<p class="uk-width-3-5 uk-margin-auto">
                                          台灣戶外安全推廣協會致力於推動安全登山文化，並希望透過開發Garmin inReach租借平台，為山友提供更多安全選項。這個平台將讓山友輕鬆查詢可租借的inReach裝置，並找到合適的店家和租借日期。
					</p>
				</header>

				<h2 class="uk-text-bold">留守平台</h2>

                                <div class="uk-child-width-1-3@s uk-grid-match" uk-grid>
                                  <div>
                                    <div class="uk-card uk-card-default uk-card-small uk-card-body">
                                      <h3 class="uk-card-title">inReach衛星通訊服務</h3>
                                      <p>小巧的衛星通訊機讓你在野外探險時與家人保持聯繫</p>
                                      <a href="https://www.garmin.com.tw/products/outdoor/inreach-mini-2-red/" class="uk-button uk-button-secondary" target="_blank">inReach Mini 2</a>
                                    </div>
                                  </div>
                                  <div>
                                    <div class="uk-card uk-card-default uk-card-small uk-card-body">
                                      <h3 class="uk-card-title">租借服務</h3>
                                      <p>瀏覽店家，依照地區選擇可提供租借inReach服務。</p>
                                      <a href="{{ url_for('main.calendar_view') }}" class="uk-button uk-button-primary">選擇日期</a>
                                    </div>
                                  </div>
                                  <div>
                                    <div class="uk-card uk-card-default uk-card-small uk-card-body">
                                      <h3 class="uk-card-title">留守服務</h3>
                                      <p>此平台為台灣戶外安全推廣協會提供之專用留守服務平台，提供山友前往美麗的風景區遊憩時，也能有更進一步的安全保障與風險管理。</p>
                                      <a href="https://hiking-guard.web.app/guard.html" class="uk-button uk-button-secondary" target="_blank"> 第三方協同留守平台</a>
                                    </div>
                                  </div>                                  
                                </div>
			</div>
		</section>
		<section id="more" class="uk-section uk-section-default">
			<div class="uk-container">
			  <h3 class="uk-text-bold">戶外安全推廣協會</h3>
                          <p>以公益性質的方式為出發點，提供大眾學習戶外知識的平臺，開設山域、水域等戶外領域相關之風險管理、安全知能及野地技能等課程，期許降低人為意外事故與災害，投入戶外活動能更安全。</p>
                          <a class="uk-button uk-button-default uk-button-large uk-width-2-3 uk-width-auto@s" data-uk-icon="arrow-right" title="Learn More" href="https://www.facebook.com/mtsfc2016/posts/pfbid0NW9m2uEEjrNbMvm6LNWPBDzJixPwP3qf2KGMspSFTRHKjTiF9cBMyCY1nA33pPQjl">谷關七雄預防迷途懶人包</a>
			</div>
		</section>
{% endblock %}
